.search {
    display: block;
}

.refresh {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.refresh h4 {
    margin-right: 10px;
}

.refresh span {
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(76, 100, 129, 0.9);
}

.refresh svg {
    font-size: 18px;
}

.header {
    display: block;
    color: #fff;
}
