body {
    min-height: 100vh;
    /* background-image: 
    url("https://www.sciencemag.org/sites/default/files/styles/article_main_large/public/images/sn-smartwindowH.jpg?itok=1lG2tIU5"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(35, 82, 139, 1);
}

.weatherCard {
    width: 75%;
    margin: 75px auto 0 auto;
    padding: 25px;
    background-color: rgba(35, 82, 139, 0.8);
    box-shadow: 0 0 10px #000;
}

@media (max-width: 767.98px){
    .weatherCard{
        width: 95%;
        margin: 25px auto 0 auto;
    }
}

.wrapperCard {
    background-color: #204168;
    padding: 15px;
}
